<div class="service-space">
</div>
<div id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="container-fluid bg-grey">
                    <div class="service-space">
                    </div>
                    <h2 class="text-center title service-space">Contact Us</h2>
                    <div class="row">
                        <div class="col-sm-6 service-space-wilder">
                            <p class="description">有问题或者建议可以联系我们，24小时内会给您回复。</p>
                            <p class="description"><span class="glyphicon glyphicon-map-marker"></span> Beijing, China</p>
                            <p class="description"><span class="glyphicon glyphicon-phone"></span> +010 1234321</p>
                            <p class="description"><span class="glyphicon glyphicon-envelope"></span> yanlei19930516@163.com</p>
                        </div>
                        <div class="col-sm-6 service-space-wilder" style="margin-top:40px;">
                            <div class="row service-space-thinner">
                                <div class="col-sm-6 form-group ">
                                    <input class="form-control" id="name" name="name" placeholder="您的姓名" type="text" required>
                                </div>
                                <div class="col-sm-6 form-group ">
                                    <input class="form-control" id="email" name="email" placeholder="您的邮箱" type="email" required>
                                </div>
                            </div>
                            <textarea class="form-control service-space-thinner" id="comment" name="comment" placeholder="您的问题或者建议" rows="5"></textarea>
                            <br>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <button class="btn btn-default pull-right" type="submit">提交</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
