<div class="service-space">
</div>
<div id="cooperatewithus">
    <div class="container">
        <div class="row">
            <div class="service-space-thinner">
            </div>
            <div class="col-md-8 col-md-offset-2 service-space" style="float;">
                <h1 class="title">Cooperate with us</h1>
            </div>
        </div>
        <div class="row service-space-wilder" >
            <div class="col-md-8 col-md-offset-2" style="
                                              border: 1px solid #cccccc;
                                              margin: 0 auto;
                                              padding-bottom: 20px;
                                              float: none;">
                <div class="hez" style="margin-top:20px;">&gt;&gt; 市场媒体合作</div>
                <div class="heztext">
                    联系电话：010-56894816<br />
                    传  真：010-65502558<br />
                    邮  箱：co_mkt#liepin.com（请手动将#改为@）
                  </div>
                <div class="hez">&gt;&gt; 网站合作</div>
                <div class="heztext"> 电  话：010-56894812<br />
                    传  真：010-65502558<br />
                    邮  箱：bd#liepin.com（请手动将#改为@）</div>
                <div class="hez">&gt;&gt; 网站链接合作</div>
                <div class="heztext">电  话：010-56894816<br />
                    邮  箱：it.seo.list#liepin.com（请手动将#改为@）</div>
            </div>
        </div>
    </div>
</div>
</div>
