<div id="fav_jobs_section">
    <div class="container">
        <div class="row service-space-wilder">
            <div class="service-space-thinner">
            </div>
            <div class="pull-right">
                <%= link_to(content_tag(:i, "返回", class: "fa fa-arrow-left back-btn"), url_for(:back)) %>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <div class="service-space">
                </div>
                <h1 class="title service-space">已收藏</h1>
                <%= render :partial => "job-item", :collection => @jobs, :as => :job %>
                <div class="text-center service-space-thinner">  <%= will_paginate @jobs, class: "apple_pagination" %></div>
            </div>
        </div>
    </div>
</div>
