<footer class="text-center">
    <div class="footer-below">
        <p class="text-center">Copyright ©2017 JobListing
           <br>
            Design by
           <a href="https://github.com/JosephLambert">Jo</a>
        </p>
    </div>
</footer>
