<footer class="text-center">
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-md-4" >
                    <%= link_to "About Us", aboutus_path%>
                </div>
                <div class="col-md-4">
                    <%= link_to "Contact Us", contactus_path %>
                </div>
                <div class="col-md-4">
                    <%= link_to "Cooperate with Us", cooperatewithus_path %>
                </div>
            </div>
        </div>
        <div class="service-space-thinner">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">Copyright ©2017 JobListing
                 <br>
                        Design by
                 <a href="https://github.com/JosephLambert">Jo</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
