<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!--Brand and toggle get grouped for better mobile display  -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><i class="fa fa-envira" aria-hidden="true"></i>  Job-Hunting</a>
        </div>
        <ul class="nav navbar-nav">
            <li><%= link_to "Get Started" , jobs_path%></li>
            <li><a href="#section1">Jumbotron</a></li>
            <li><a href="#services">Service</a></li>
            <li><a href="#work_flow">Work Flow</a></li>
            <li><a href="#customers-feedback">Feedback</a></li>
            <li><a href="#call-to-action">Start</a></li>
            <li><a href="#faq">FAQ</a></li>
        </ul>
        <!--Collect the nav links, forms, and other content for toggling  -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <% if !current_user %>
                        <li><a href="/users/sign_up"><i class="fa fa-user-plus" aria-hidden="true"></i>注册</a></li>
                        <li><a href="/users/sign_in"><i class="fa fa-sign-in" aria-hidden="true"></i>登录</a></li>
                    <% else %>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-user-circle-o" aria-hidden="true"></i> Hi! <%= current_user.email %>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/account/jobs"><i class="fa fa-paw" aria-hidden="true"></i></i>我的投递</a></li>
                            <% if current_user.admin? %>
                                <li><a href="/admin/jobs"><i class="fa fa-wrench" aria-hidden="true"></i>后台管理</a></li>
                            <% end %>
                            <li><a rel="nofollow" data-method="delete" href="/users/sign_out"><i class="fa fa-sign-out" aria-hidden="true"></i>登出</a></li>
                        </ul>
                    </li>
                <% end %>
            </li>
        </ul>
    </div>
    <!--/.navbar-collapse  -->
</div>
<!--/.container-fluid  -->
</nav>
