<div id="job_section">
    <div class="container-fluid">
        <div class="row service-space-wilder">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="title service-space">已投递</h1>
                <%= render :partial => "job-item", :collection => @jobs, :as => :job %>
            </div>
        </div>
    </div>
</div>
